# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/

# PyCharm files
.idea
.idea/*

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.cache/